services:
  jarvis:
    image: ghcr.io/abatoretco-coder/jarvis:main
    build:
      context: .
      target: runtime
    ports:
      - '192.168.1.175:8080:8080'
    env_file:
      - .env
    volumes:
      - /opt/naas/appdata/jarvis-vm300:/app/data
    restart: unless-stopped
